
<div class="container">
  <article class="message is-info">
    <div class="message-header">
      Add Slot
      <button class="delete is-large" (click)="closeScreen()">Close</button>
    </div>
    <div class="message-body">
      Title
      <div class="field">
      <div class="control is-loading">
        <input class="input" type="text" placeholder="Title">
      </div>
    </div>
    <div class="field">
      Description
      <div class="control is-loading">
        <input class="input" type="text" placeholder="Description">
      </div>
    </div>
    <div class="field">
      Date
      <div class="control is-loading">
        <input class="input" type="text" placeholder="2020-10-24">
      </div>
    </div>
    <div class="field">
      From
      <div class="control is-loading">
        <input class="input" type="text" placeholder="16:00:00">
      </div>
    </div>
    <div class="field">
      To
      <div class="control is-loading">
        <input class="input" type="text" placeholder="16:00:00">
      </div>
    </div>
      <button class="button is-success" (click)="saveSlot()">
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
  </article>
</div>
<!--date = db.Column("date", db.Date)
time_from = db.Column("time_from", db.Time)
time_to = db.Column("time_to", db.Time)
max_capacity = db.Column("max_capacity", db.Integer, CheckConstraint("max_capacity > 0"), default=20)
title = db.Column("title", db.String(40))
description = db.Column("description", db.String(150))-->
