<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">

            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input [(ngModel)]="user.email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="icons.email"></fa-icon>
                </span>
              </div>
            </div>
          <div class="field">
            <label for="" class="label">Name</label>
            <div class="control has-icons-left">
              <input [(ngModel)]="user.name" type="name" placeholder="e.g. bobsmith" class="input" required>
              <span class="icon is-small is-left">
                  <fa-icon [icon]="icons.name"></fa-icon>
                </span>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Surname</label>
            <div class="control has-icons-left">
              <input [(ngModel)]="user.surname" type="surname" placeholder="e.g. bobsmith" class="input" required>
              <span class="icon is-small is-left">
                  <fa-icon [icon]="icons.surname"></fa-icon>
                </span>
            </div>
          </div>

            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input [(ngModel)]="user.password" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="icons.pwd"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <button (click)="this.registerUser()" class="button is-success">
                Register
              </button>
            </div>
          {{user | json}}
        </div>
      </div>
    </div>
  </div>
</section>

